In [2]:
import pandas as pd
df = pd.read_csv('movies.csv')

In [3]:
df.tail(3)

,rank,movie_id,title,year,link,imbd_votes,imbd_rating,certificate,duration,genre,...,director_id,director_name,writer_id,writer_name,storyline,user_id,user_name,review_id,review_title,review_content
247,248,tt0103639,Aladdin,1992,https://www.imdb.com/title/tt0103639,"429,219",8.0,G,1h 30m,"Animation,Adventure,Comedy",...,"nm0166256,nm0615780","Ron Clements,John Musker","tt0103639,nm0166256,nm0615780,nm0254645,tt0103639","Writers,Ron Clements,John Musker,Ted Elliott,",A kindhearted street urchin and a power-hungry...,"ur1293485,ur1416505,ur4445210,ur4234119,ur0909...","Smells_Like_Cheese,Boba_Fett1138,ccthemovieman...","rw0302749,rw0950861,rw1571053,rw2534639,rw0302...","I'd put it in with the Disney classics,Great s...",Aladdin is such an awesome move that still get...
248,249,tt0083987,Gandhi,1982,https://www.imdb.com/title/tt0083987,"234,688",8.0,PG,3h 11m,"Biography,Drama,History",...,nm0000277,Richard Attenborough,nm0109300,John Briley,The life of the lawyer who became the famed le...,"ur0954062,ur0688559,ur0176092,ur0940950,ur2620...","khatcher-2,tfrizzell,Nazi_Fighter_David,Rod-88...","rw0194126,rw1179566,rw1106866,rw0194132,rw0194...",Took nearly twenty years to make - not a singl...,Here indeed is one of the great films of the 2...
249,250,tt0099348,Dances with Wolves,1990,https://www.imdb.com/title/tt0099348,"271,823",8.0,PG-13,3h 1m,"Adventure,Drama,Western",...,nm0000126,Kevin Costner,nm0086658,Michael Blake,"Lieutenant John Dunbar, assigned to a remote w...","ur66111139,ur16161013,ur20597848,ur1413169,ur5...","gbill-74877,hitchcockthelegend,bheadher,Philip...","rw6808367,rw2322324,rw4656461,rw0959913,rw1379...","Fantastic,It is the trail of a true human bein...",It's hard to think of blockbuster films that p...

In [4]:
df.shape

(250, 22)

In [5]:
df['Dur_hr'] = df['duration'].str.split(' ').str[0].str.split('h').str[0]
df['Dur_min'] = df['duration'].str.split(' ').str[1].str.split('m').str[0]

In [33]:
df['Dur_hr']

0      2
1      2
2      2
3      3
4      1
      ..
245    2
246    2
247    1
248    3
249    3
Name: Dur_hr, Length: 250, dtype: object

In [52]:
df['Dur_min']

0      22
1      55
2      32
3      22
4      36
       ..
245    22
246    26
247    30
248    11
249     1
Name: Dur_min, Length: 250, dtype: object

In [6]:
df['Dur_hr']  = df['Dur_hr'].astype(int)
df['Dur_min']  = df['Dur_min'].astype(int)

ValueError: invalid literal for int() with base 10: '45m'

In [37]:
df['certificate'].unique()

array(['R', 'PG-13', 'Approved', 'PG', '18+', 'Not Rated', 'G', 'Passed',
       nan, 'TV-PG', 'Unrated', 'X', '13+', 'TV-MA', 'GP'], dtype=object)

In [38]:
from sklearn.preprocessing import OneHotEncoder

In [39]:
encoder = OneHotEncoder()

In [41]:
encoder.fit_transform(df[['certificate']]).toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [43]:
df1 = pd.DataFrame(encoder.fit_transform(df[['certificate']]).toarray(), columns = encoder.get_feature_names_out())

In [46]:
df2 = pd.concat([df, df1],axis = 1)

In [47]:
df2

,rank,movie_id,title,year,link,imbd_votes,imbd_rating,certificate,duration,genre,...,certificate_Not Rated,certificate_PG,certificate_PG-13,certificate_Passed,certificate_R,certificate_TV-MA,certificate_TV-PG,certificate_Unrated,certificate_X,certificate_nan
0,1,tt0111161,The Shawshank Redemption,1994,https://www.imdb.com/title/tt0111161,"2,711,075",9.3,R,2h 22m,Drama,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,2,tt0068646,The Godfather,1972,https://www.imdb.com/title/tt0068646,"1,882,829",9.2,R,2h 55m,"Crime,Drama",...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,3,tt0468569,The Dark Knight,2008,https://www.imdb.com/title/tt0468569,"2,684,051",9.0,PG-13,2h 32m,"Action,Crime,Drama",...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,tt0071562,The Godfather Part II,1974,https://www.imdb.com/title/tt0071562,"1,285,350",9.0,R,3h 22m,"Crime,Drama",...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,5,tt0050083,12 Angry Men,1957,https://www.imdb.com/title/tt0050083,"800,954",9.0,Approved,1h 36m,"Crime,Drama",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,246,tt0071411,Dersu Uzala,1975,https://www.imdb.com/title/tt0071411,"31,167",8.2,G,2h 22m,"Adventure,Biography,Drama",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
246,247,tt1454029,The Help,2011,https://www.imdb.com/title/tt1454029,"466,011",8.1,PG-13,2h 26m,Drama,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
247,248,tt0103639,Aladdin,1992,https://www.imdb.com/title/tt0103639,"429,219",8.0,G,1h 30m,"Animation,Adventure,Comedy",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
248,249,tt0083987,Gandhi,1982,https://www.imdb.com/title/tt0083987,"234,688",8.0,PG,3h 11m,"Biography,Drama,History",...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
249,250,tt0099348,Dances with Wolves,1990,https://www.imdb.com/title/tt0099348,"271,823",8.0,PG-13,3h 1m,"Adventure,Drama,Western",...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 39 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   rank                   250 non-null    int64
 1   movie_id               250 non-null    object
 2   title                  250 non-null    object
 3   year                   250 non-null    int64
 4   link                   250 non-null    object
 5   imbd_votes             250 non-null    object
 6   imbd_rating            250 non-null    float64
 7   certificate            249 non-null    object
 8   duration               250 non-null    object
 9   genre                  250 non-null    object
 10  cast_id                250 non-null    object
 11  cast_name              250 non-null    object
 12  director_id            250 non-null    object
 13  director_name          250 non-null    object
 14  writer_id              250 non-null    object
 15  writer_name            250 non-null    object
 16  storyline              250 non-null    object
 17  user_id                250 non-null    object
 18  user_name              250 non-null    object
 19  review_id              250 non-null    object
 20  review_title           250 non-null    object
 21  review_content         250 non-null    object
 22  Dur_hr                 250 non-null    object
 23  Dur_min                250 non-null    object
 24  certificate_13+        250 non-null    float64
 25  certificate_18+        250 non-null    float64
 26  certificate_Approved   250 non-null    float64
 27  certificate_G          250 non-null    float64
 28  certificate_GP         250 non-null    float64
 29  certificate_Not Rated  250 non-null    float64
 30  certificate_PG         250 non-null    float64
 31  certificate_PG-13      250 non-null    float64
 32  certificate_Passed     250 non-null    float64
 33  certificate_R          250 non-null    float64
 34  certificate_TV-MA      250 non-null    float64
 35  certificate_TV-PG      250 non-null    float64
 36  certificate_Unrated    250 non-null    float64
 37  certificate_X          250 non-null    float64
 38  certificate_nan        250 non-null    float64
dtypes: float64(16), int64(2), object(21)
memory usage: 76.3+ KB

In [49]:
df2.drop('certificate', axis = 1, inplace= True)

In [50]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 38 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   rank                   250 non-null    int64
 1   movie_id               250 non-null    object
 2   title                  250 non-null    object
 3   year                   250 non-null    int64
 4   link                   250 non-null    object
 5   imbd_votes             250 non-null    object
 6   imbd_rating            250 non-null    float64
 7   duration               250 non-null    object
 8   genre                  250 non-null    object
 9   cast_id                250 non-null    object
 10  cast_name              250 non-null    object
 11  director_id            250 non-null    object
 12  director_name          250 non-null    object
 13  writer_id              250 non-null    object
 14  writer_name            250 non-null    object
 15  storyline              250 non-null    object
 16  user_id                250 non-null    object
 17  user_name              250 non-null    object
 18  review_id              250 non-null    object
 19  review_title           250 non-null    object
 20  review_content         250 non-null    object
 21  Dur_hr                 250 non-null    object
 22  Dur_min                250 non-null    object
 23  certificate_13+        250 non-null    float64
 24  certificate_18+        250 non-null    float64
 25  certificate_Approved   250 non-null    float64
 26  certificate_G          250 non-null    float64
 27  certificate_GP         250 non-null    float64
 28  certificate_Not Rated  250 non-null    float64
 29  certificate_PG         250 non-null    float64
 30  certificate_PG-13      250 non-null    float64
 31  certificate_Passed     250 non-null    float64
 32  certificate_R          250 non-null    float64
 33  certificate_TV-MA      250 non-null    float64
 34  certificate_TV-PG      250 non-null    float64
 35  certificate_Unrated    250 non-null    float64
 36  certificate_X          250 non-null    float64
 37  certificate_nan        250 non-null    float64
dtypes: float64(16), int64(2), object(20)
memory usage: 74.3+ KB

In [68]:
df2['review_content']

0      The Shawshank Redemption is written and direct...
1      'The Godfather' is the pinnacle of flawless fi...
2      Confidently directed, dark, brooding, and pack...
3      Coppola's masterpiece is rivaled only by "The ...
4      This once-in-a-generation masterpiece simply h...
                             ...
245    For a variety of reasons (that are well known ...
246    Greetings again from the darkness. The film is...
247    Aladdin is such an awesome move that still get...
248    Here indeed is one of the great films of the 2...
249    It's hard to think of blockbuster films that p...
Name: review_content, Length: 250, dtype: object

In [70]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 38 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   rank                   250 non-null    int64
 1   movie_id               250 non-null    object
 2   title                  250 non-null    object
 3   year                   250 non-null    int64
 4   link                   250 non-null    object
 5   imbd_votes             250 non-null    object
 6   imbd_rating            250 non-null    float64
 7   duration               250 non-null    object
 8   genre                  250 non-null    object
 9   cast_id                250 non-null    object
 10  cast_name              250 non-null    object
 11  director_id            250 non-null    object
 12  director_name          250 non-null    object
 13  writer_id              250 non-null    object
 14  writer_name            250 non-null    object
 15  storyline              250 non-null    object
 16  user_id                250 non-null    object
 17  user_name              250 non-null    object
 18  review_id              250 non-null    object
 19  review_title           250 non-null    object
 20  review_content         250 non-null    object
 21  Dur_hr                 250 non-null    object
 22  Dur_min                250 non-null    object
 23  certificate_13+        250 non-null    float64
 24  certificate_18+        250 non-null    float64
 25  certificate_Approved   250 non-null    float64
 26  certificate_G          250 non-null    float64
 27  certificate_GP         250 non-null    float64
 28  certificate_Not Rated  250 non-null    float64
 29  certificate_PG         250 non-null    float64
 30  certificate_PG-13      250 non-null    float64
 31  certificate_Passed     250 non-null    float64
 32  certificate_R          250 non-null    float64
 33  certificate_TV-MA      250 non-null    float64
 34  certificate_TV-PG      250 non-null    float64
 35  certificate_Unrated    250 non-null    float64
 36  certificate_X          250 non-null    float64
 37  certificate_nan        250 non-null    float64
dtypes: float64(16), int64(2), object(20)
memory usage: 74.3+ KB